.titleAccessoire {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  text-align: center;

  &__text {
    transform: translateY(60%);
    font-size: 36px;
    font-weight: 900;
  }
}

.accessoire {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__left {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  &__productMiddle {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__right {
    width: 25%;
    display: flex;
    justify-content: center;
  }

  &__imgLeft {
    width: 65%;
  }

  &__imgMiddle {
    width: 80%;
  }

  &__imgRight {
    width: 90%;
  }

  &__content {
    position: absolute;
    top: -45px;
    left: 10%;

    h2 {
      font-weight: lighter;
    }

    h3 {
      font-weight: bold;
      border-bottom: 1px solid black;
    }
  }

  // &__buttonLeft {
  //   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  // }

  &__blobLeft {
    position: absolute;
    z-index: -1;
    width: 100%;
    right: 35%;
  }

  &__mainblob {
    position: absolute;
    z-index: -1;
    margin-top: 5%;
    left: 30%;
    width: 45%;
    transform: rotate(70deg);
  }

  &__blobRight {
    position: absolute;
    z-index: -2;
    width: 100%;
    left: 35%;
  }

  &__buttonA {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 200px;
    height: 25px;
    background-color: #8c2c38;
    border-radius: 10px;
  }
}
