$font: sans-serif;
$primaryColor: #fc6334;

.content__text {
  height: 50vh;
  margin-left: 195px;

  h1 {
    font-size: 36px;
    font-family: $font;
  }
  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    font-family: $font;
  }
  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: lighter;
    font-family: $font;
    color: rgb(110, 110, 110);
  }
  h5 {
    margin: 0;
    font-family: $font;
    color: $primaryColor;
  }
}

.content__button {
  margin-top: 200px;
  cursor: pointer;
  .button {
    width: 150px;
    height: 30px;
    background-color: $primaryColor;
    border-radius: 15px;

    p {
      color: white;
      text-align: center;
      transform: translateY(7px);
      font-family: $font;
      font-size: 14px;
    }
  }
}

.capsule {
  position: absolute;
  width: 200px;
  height: auto;
  z-index: 0;
  right: 35%;
  top: 20%;
}
