$Primary-color: #ee704a;

.hero {
  width: 100vw;
  height: 70vh;
  display: flex;

  &__texts {
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__text {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__button {
    background-color: $Primary-color;
    width: 50%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: white;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      transform: scale(1.1);
    }

    h3 {
      font-size: 16px;
      color: white;
      text-align: center;

      &:hover {
        color: $Primary-color;
      }
    }
  }

  &__container {
    display: flex;
    width: 95%;
    height: auto;
  }

  &__mainBlob {
    position: absolute;
    z-index: -1;
    top: -20%;
    left: 30%;

    &--second {
      position: absolute;
      width: 50%;
      height: 80%;
      top: -20%;
      left: -30%;
    }
    &--third {
      z-index: -2;
      position: absolute;
      width: 60%;
      top: -60%;
      left: 60%;
      transform: rotate(-10deg);
    }
  }

  &__content {
    &--first {
      position: relative;
      width: 40%;
    }
    &--second {
      position: relative;
      width: 30%;
    }
    &--third {
      position: relative;
      width: 20%;
    }
  }

  &__capsule {
    &--first {
      position: absolute;
      z-index: 1;
      top: 10%;
      width: 70%;
      left: 35%;
      right: 0;
      margin: auto;
      background-image: url(../img/blob.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &--second {
      position: absolute;
      top: 55%;
      left: 0;
      right: 0;
      margin: auto;
      width: 60%;
      transform: rotate(-47deg);
      background-image: url(../img/blob.svg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &--third {
      position: absolute;
      top: 30%;
      left: 0;
      right: 50%;
      margin: auto;
      width: 70%;
      transform: rotate(-151deg);
      background-image: url(../img/blob.svg);
      background-size: 100%;
    }
  }
}
