.hero {
  width: 95vw;
  height: 95vh;
  display: flex;

  &__texts {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;
  }

  &__text {
    width: 55%;
    height: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__container {
    position: relative;
    width: 55%;
    border: 1px solid green;
  }

  &__mainBlob {
    position: absolute;
    z-index: -1;
    top: -20%;
    left: 30%;
  }

  &__capsule {
    &--first {
      position: absolute;
      z-index: 1;
      top: 10%;
      width: 40%;
      border: 1px solid violet;
    }
    &--second {
      position: absolute;
      top: 45%;
      left: 35%;
      width: 25%;
      border: yellow 1px solid;
      transform: rotate(-47deg);
    }
    &--third {
      position: absolute;
      top: 30%;
      left: 65%;
      width: 15%;
      border: yellow 1px solid;
      transform: rotate(-151deg);
    }
  }

  &__item {
    position: relative;
  }

  &__blob {
    &--first {
      position: absolute;
      width: 40%;
    }
  }
}
